.projects
	background-color $c-bg
	padding-top 80px
	&-list
		//
	&-item
		margin auto
		max-width 400px
		position relative
		transform translate(0, 0)
		background-size cover
		background-repeat no-repeat
		background-position center center
		&-img
			display block
			width 100%
		&-logo
			size 60px
			background-color #fff
			border-radius 50%
			position relative
			overflow hidden
			margin auto
			img
				width 50px
				height auto
				absolute-center()
			&-name
				font-size 14px
				margin-top 5px
		&-hr
			margin 10px auto
			background-color #fff
			height 2px
			opacity .35
		&-subtitle
			font-size 12px
			line-height 1.4
			color $c-primary
			font-weight bold
			letter-spacing 1px
			font-weight 600
		&-title.title
			font-size 19px
			margin-top 3px
		&-in
			absolute-fill()
			background-color rgba(#000000, .6)
			color #fff
			padding 15px 20px
		&-btn
			absolute left right bottom 15px

	@media $768M
		&-list
			margin-left -20px
			margin-right -20px
		&-item
			border-bottom 1px solid #fff

	@media $768
		border-top 1px solid $c-border
		border-bottom 1px solid $c-border
		padding-bottom 60px
		&-list
			//
		&-item
			display inline-block
			vertical-align top
			width 48%
			max-width 360px
			margin-bottom 2%
			margin-right 2%

	@media $768-1200
		&-list
			text-align center
		&-item
			margin-bottom 25px

	@media $1200
		&-list
			space-between()
			&:after
				content ''
				flex auto
		&-item
			width 32%
			&:nth-child(3n)
				margin-right 0

	@media $1200
		&-item
			&-main
				absolute left right bottom 54px
				height 124px
				&-in
					width 100%
					absolute-center()
