.title
	margin 0
	padding 0
	line-height 1.3
	font-weight 600
	position relative
	&.view-heading
		font-size 28px

	@media $768M
		&.view-heading
			svg
				display block
				margin-bottom 10px
	@media $768
		&.view-heading
			font-size 37px
			svg
				margin-right 25px
