// Colors
$c-primary = #ED9136
$c-primary-light = lighten($c-primary, 10%)
$c-primary-dark = darken($c-primary, 5%)

$c-secondary = #07AE1C

$c-bg = #F8F8F8

$c-text = #434343
$c-text-dark = #000

$c-border = #CFCFCF

// Font properties
$f-primary = 'Montserrat', sans-serif
$f-secondary = serif

$f-base-size = 15px
$f-base-lh = 1.7

// Dimensions
$radius = 4px

// Breakpoints
$360 = "only screen and (min-width : 360px)"
$360M = "only screen and (max-width : 359px)"

$600 = "only screen and (min-width : 600px)"
$600M = "only screen and (max-width : 599px)"

$768 = "only screen and (min-width : 768px)"
$768M = "only screen and (max-width : 767px)"

$768Mretina = "only screen and (max-width : 767px) and (-webkit-min-device-pixel-ratio : 2)"

$768-1000 = "only screen and (min-width : 767px) and (max-width : 999px)"

$1000 = "only screen and (min-width : 1000px)"
$1000M = "only screen and (max-width : 999px)"

$1000Mretina = "only screen and (max-width : 999px) and (-webkit-min-device-pixel-ratio : 2)"

$1200 = "only screen and (min-width : 1200px)"
$1200M = "only screen and (max-width : 1199px)"

$1400 = "only screen and (min-width : 1400px)"
$1400M = "only screen and (max-width : 1399px)"

$1600 = "only screen and (min-width : 1600px)"
$1600M = "only screen and (max-width : 1599px)"

$2000 = "only screen and (min-width : 2000px)"
$2000M = "only screen and (max-width : 1999px)"

$retina = "(-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi)"

$break-menuToggle = $1000
